<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>FFSystem</title>

        {LIBRARIES}
        
   </head>
<body>
    <div id="tudo">
        
        <!-- HEADER -->
        <div id="header">
            
            <!-- LOGO -->
            <div class="logo">
                <img src="template/images/logo.png" alt="HM Gestao">
            </div>
            
            <!-- USUARIO -->
            <div class="login">
                <font class="txtBem">
                Bem Vindo,</font>
                <br>
                <a href="index.php?sessao=dados_pessoais" title="Clique para exibir os dados" style="text-decoration: none; color: blueviolet;">
                {USER}</a>
            </div>
            
        </div>
        
        <!-- MENU -->
        <div id="NavbarMenu">
            {MENU}
        </div>
        
        <!-- CONTEUDO -->  
        <div id="conteudo">
            {SISTEMA}
        </div>
        
        <!-- RODAPE -->
        <div id="footer">
            <p align="center">
                <font class="txtRodape">Desenvolvimento: FFC Technologies</font>
            </p>
        </div>
    </div> <!-- Final Div Tudo -->
</body>
</html>
