php_flag authmail.debug ON
php_value authmail.address suporte@ffctechnologies.com.br
php_value authmail.smtp_account suporte=ffctechnologies.com.br
php_value authmail.smtp smtp.ffctechnologies.com.br
php_value authmail.password 'f24f01c75'  
